html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.main {
  padding: 20px;
  font-family: "Helvetica", serif;
  box-shadow: 5px 5px 7px 5px #888888;
}

.main h1 {
  font-size: 40px;
  text-align: center;
  font-family: "Helvetica", serif;
}

input {
  font-family: "Helvetica", serif;
  width: 100%;
  font-size: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid #767474;
}

input[type="submit"] {
  font-family: "Helvetica", serif;
  width: 100%;
  background-color: #767474;
  border: none;
  color: white;
  padding: 16px 32px;
  margin: 4px 2px;
  border-radius: 10px;
}
